.wrapper {
  padding: 16px 0;
  font-family: "Work Sans", sans-serif;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0 0 8px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0 0 24px;
}
