.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 80px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rating {
    margin-bottom: 32px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

/* ========== TABLET ========== */
@media (min-width: 768px) {
    .cards {
        flex-wrap: wrap;
        gap: 32px;
    }
}

/* ========== DESKTOP ========== */
@media (min-width: 1024px) {
}