/* Контейнер */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

/* Обгортка */
.selectWrapper {
  position: relative;
  width: 304px;
}

/* --- ЗАКРИТА КНОПКА (SelectButton) --- */
.selectButton {
  width: 304px;

  min-height: 40px;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  gap: 16px;

  border: 2px solid black; /* тимчасово */
  border-radius: 6px;

  background: var(--opacity-transparent);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px; /* контролюємо висоту */
  color: var(--color-neutral-darkest);

  cursor: pointer;
}

/* --- СТРІЛКА SVG --- */
.arrow {
  width: 12px;
  height: 12px;
  margin-left: auto;

  transition: transform 0.25s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* --- ВІДКРИТЕ МЕНЮ --- */
.dropdown {
  position: absolute;
  top: 44px;
  width: 304px;
  height: 305px;

  border: 2px solid var(--color-electric-violet-light);
  border-radius: 6px;

  background: var(--color-electric-violet-lightest);

  padding: 6px 0;
  overflow-y: auto;

  z-index: 20;

  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--color-electric-violet-light)
    var(--color-electric-violet-dark);
}

/* --- Chrome Scrollbar --- */
.dropdown::-webkit-scrollbar {
  width: 7px;
}

.dropdown::-webkit-scrollbar-track {
  background: var(--color-electric-violet-dark);
  border-radius: 4px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: var(--color-electric-violet-light);
  border-radius: 4px;
}

/* --- ПУНКТИ МЕНЮ --- */
.option {
  padding: 10px 14px;
  margin-bottom: 8px;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;

  color: var(--color-neutral-darkest);
  cursor: pointer;
}

.option:last-child {
  margin-bottom: 0;
}

.option:hover {
  background: rgba(106, 90, 205, 0.15);
}

/* Кнопка скидання */
.resetButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-neutral-darkest);

  background: transparent;
  border: none;
  cursor: pointer;
}

.resetButton:disabled {
  opacity: 0.4;
  cursor: default;
}
