.resetPassword {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.description {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.input {
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.input:active,
.input:focus {
  border: 2px solid #8808cc;
  color: #000;
}

.button {
  margin-top: 8px;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  background: #8808cc;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  width: 335px;
  height: 40px;
}

.button:hover {
  border: 2px solid #8808cc;
  background: #fff;
  color: #000;
}

.button:focus {
  border: 2px solid #000;
  background: #e7cdf4;
  color: #000;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.backButton {
  margin-top: 8px;
  padding: 10px 24px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  width: 335px;
  height: 40px;
}

.backButton:hover {
  background: #f5f5f5;
}

.backButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #c40202;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .resetPassword {
    padding-top: 138px;
    padding-bottom: 220px;
  }
  .title {
    font-size: 30px;
  }
  .button,
  .backButton {
    border-radius: 6px;
    padding: 8px 20px;
    width: 420px;
    height: 48px;
  }
  .field {
    max-width: 420px;
  }
  .input {
    height: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .resetPassword {
    padding-top: 154px;
    padding-bottom: 208px;
  }
  .title {
    font-size: 42px;
  }
  .field {
    max-width: 640px;
  }
  .button,
  .backButton {
    width: 640px;
  }
}
